:root {
  --color-slate-300: #d5e1ef;
  --color-slate-500: #68778d;
  --color-slate-900: #1f314f;
  --color-white: #ffffff;

  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;

  --layout-mobile: 375px;
  --layout-desktop: 1440px;

  --font-size-title: 1.375rem;
  --font-size-body: 0.938rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-family-main: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family-main);
  background: var(--color-slate-300);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: 100%;
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500)
    var(--spacing-200);
  border-radius: 20px;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
}

img {
  width: 288px;
  height: auto;
  border-radius: 10px;
  margin-bottom: var(--spacing-300);
}

h1 {
  font-weight: var(--font-weight-bold);
  color: var(--color-slate-900);
  font-size: var(--font-size-title);
  font-style: normal;
  line-height: 120%;
  align-self: stretch;
  margin: 0 var(--spacing-200) var(--spacing-200) var(--spacing-200);
  text-align: center;
}

p {
  align-self: stretch;
  color: var(--color-slate-500);
  text-align: center;
  font-size: var(--font-size-body);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 140%;
  letter-spacing: 0.2px;
  margin: 0 var(--spacing-200) 0 var(--spacing-200);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
